<!DOCTYPE html>
<html>
<head><title><%= title %></title></head>
<body>
    <h1><%= title %></h1>
    <p>Sukces! Jesteś zalogowany.</p>
    <ul>
        <li><strong>Twój login:</strong> <%= login %></li>
        <li><strong>Twoja rola:</strong> <%= role %></li>
    </ul>
    <a href="/">Wróć do strony głównej</a>
</body>
</html>