<!DOCTYPE html>
<html>
<head><title>Błąd autoryzacji</title></head>
<body>
    <h1 style="color: red;">Błąd 401 Unauthorized</h1>
    <p><%= message %></p>
    <a href="/">Wróć do strony głównej</a>
</body>
</html>