<!DOCTYPE html>
<html>
<head><title><%= title %></title></head>
<body>
    <h1>Witaj na stronie publicznej</h1>
    <p>Ta część serwisu nie wymaga logowania.</p>
    <ul>
        <li><a href="/user">Przejdź do Panelu Użytkownika (chronione)</a></li>
        <li><a href="/admin">Przejdź do Panelu Administratora (chronione)</a></li>
    </ul>
</body>
</html>