# bazy danych
POSTGRES_USER=uniqwear_user
POSTGRES_PASSWORD=uniqwear_pass
POSTGRES_DB=uniqwear_db
POSTGRES_PORT=5432

MONGO_PORT=27017

# polaczenia dla serwisow
DATABASE_URL="postgresql://uniqwear_user:uniqwear_pass@localhost:5432/uniqwear_db?schema=public"
MONGO_URI="mongodb://localhost:27017/uniqwear_docs"

# porty serwisow
GATEWAY_PORT=3000
CATALOG_PORT=3001
CHECKOUT_PORT=3002