# przykladowe zmienne srodowiskowe dla catalog-service
CATALOG_PORT=3001

# uwaga: w dockerze laczymy sie przez nazwy kontenerow (postgres, mongo) a nie localhost
DATABASE_URL="postgresql://uniqwear_user:uniqwear_pass@postgres:5432/uniqwear_db?schema=public"
MONGO_URI="mongodb://mongo:27017/uniqwear_mongo"