<!DOCTYPE html>
<html>
<head><title>Lab 3 - OAuth2 Authorization Code Flow</title></head>
<body>
    <h1>Wybierz dostawcę autoryzacji</h1>
    <ul>
        <li><a href="/login/keycloak">Zaloguj przez Keycloak (lokalny Docker)</a></li>
        <li><a href="/login/okta">Zaloguj przez Okta / Auth0</a></li>
    </ul>
</body>
</html>
