# przykladowe zmienne srodowiskowe dla checkout-service
CHECKOUT_PORT=3002

# uwaga: w dockerze laczymy sie przez nazwy kontenerow a nie localhost
DATABASE_URL="postgres://uniqwear_user:uniqwear_pass@postgres:5432/uniqwear_db"
MONGO_URI="mongodb://mongo:27017/uniqwear_mongo"